<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scheduled List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-segment [(ngModel)]="food_list" overflow-scroll="true">
    <ion-segment-button class="segment-button" value="Weekly">
      Weekly
    </ion-segment-button>
    <!-- <ion-segment-button value="Monthly"> Monthly </ion-segment-button> -->
  </ion-segment>

  <div [ngSwitch]="food_list">
    <ion-list *ngSwitchCase="'Weekly'" overflow-scroll="true">
      <ion-card>
        <ion-item>
          <h2>
            <b>Weekly Foodstuff List </b>
          </h2>
        </ion-item>
      </ion-card>

      <!-- <table>
        <thead>
          <th>Name</th>
          <th>Price</th>
        </thead>
        <ion-item *ngFor="let item of body2">
          <td>{{item.food_name}}</td>
          <td>{{item.amount}}</td>
          <td>
            <button ion-button color="primary" outline (tap)="remove(item)">
              Remove
            </button>
          </td>
        </ion-item>
      </table> -->

      <ion-item *ngFor="let item of body2">
        <ion-row>
          <ion-col col-12 text-wrap>
            <h4>Name: {{item.food_name}}</h4>
            <p>Cost:<span style="color: #078016"> GHC {{item.amount}}</span></p>
            <p>
              <button ion-button color="primary" outline (tap)="remove(item)">
                Remove
              </button>
            </p>
          </ion-col>
          <!-- <ion-col col-3 text-wrap>
            <p>{{item.amount}}</p>
          </ion-col> -->
          <!-- <ion-col col-4>
            <p>
              <button ion-button color="primary" outline (tap)="remove(item)">
                Remove
              </button>
            </p>
          </ion-col> -->
        </ion-row>
      </ion-item>

      <div class="center1" *ngIf="body2 == ''">
        <img src="assets/imgs/notavail.svg" height="50px" width="70px" />
        <p style="color: #757575; text-align: center">No List created</p>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'Monthly'" overflow-scroll="true">
      <ion-card>
        <ion-item>
          <h2>
            <b>Monthly Foodstuff List - GHC</b>
          </h2>
        </ion-item>
      </ion-card>

      <ion-item>
        <div class="center1">
          <p style="color: #757575; text-align: center">
            Monthly Schedule not available
          </p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col col-6 text-wrap>
      <p>
        <button
          ion-button
          color="dark"
          class="button button-dark customBtn"
          (tap)="createList()"
        >
          Create List
        </button>
      </p>
    </ion-col>
    <ion-col col-6 text-wrap>
      <p>
        <button
          ion-button
          color="primary"
          class="button button-dark customBtn"
          (tap)="placeOrder(item)"
          *ngIf="body2 != ''"
        >
          Place Order
        </button>
      </p>
    </ion-col>
  </ion-row>
</ion-footer>
