page-food-menu {

    .background{

        // background-color: #f3f0f0;
        background-color: #f7f2f2;

        // background-image: url("../assets/imgs/back.svg");
        //  height: 100%;
        //  background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    .button.customBtn{
        width: 100%;
    
    }

    .movemove{
        margin-left: -6%
      
      }

      .item-inner {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: visible !important;
      }

      .input-wrapper {
        overflow: visible !important;
      }

    .center1{
        text-align: center;
       padding-top: 30%

    }

    .label {
        margin: 0px;
        font-size: 14px;
    }


    .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
        margin-left: 0;
        margin-top: 11px;
        margin-bottom: 10px;
        font-size: 17px;
    }


    .badge-md {
        border-radius: 4px;
        color: #fff;
        background-color: green;
    }
    .item-md p {
        margin: 0 0 2px;
        overflow: inherit;
        font-size: 1.2rem;
        line-height: normal;
        text-overflow: inherit;
        color: #666;
    }

    .container{
        padding-top: 2px
    }

    .list-header-md {
        // padding-left: 16px;
        margin-bottom: 1px;
        min-height: 4.5rem;
        // border-top: 1px solid #dedede;
        font-size: 1.4rem;
        color: #757575;
    }

 .star{

        margin: auto;
        float: left; 
        color : #f2b632;
   }

   .move-center{
    padding-left: 50%;
    margin-top: 20%;
    color: green;
    font-size: 30px;
   }

.itemup{
    padding-top: 10px;
    // line-height: 2px
}

 .accordion-list {
    background: color($colors, light);
    height: 100%;
}
.section {
    background: #fff;
    color: #000;
    margin-bottom: 4px;
}
.section-active {
    background: #781318;
    color: #fff;
}

.child {
    background: #e8e7e6;
    color: #000;
    margin-bottom: 4px;
}
.child-item {
    background: #f3f2f1;
    padding: 10px;
}
.label {
    margin: 0px;
}
.list {
    margin-bottom: 4px;
}



.fakeItem {
 

    @keyframes animatedBar{
        0%{
            background-position: -406px 0;
        }
        100%{
            background-position: 0 0;
        }
     }
    
      h2, h3, p {
        background-color: lightgrey;
        opacity: 0.5;
        height: 1em;
        margin-top: 10px;
        position: relative;
        background: linear-gradient(to right, #dddddd , #EEEEEE);
        animation: animatedBar 700ms linear infinite;
        
        &:after {
          position: absolute;
          display: block;
          content: '';
          right: 0;
          bottom: 0;
          top: 0;
          background-color: white;
        }
      }
    
      h2:after {
        width: 65%;
      }
    
      h3:after {
        width: 60%;
      }  
    
      p:after {
        width: 40%;
      }
   }

}

