<ion-header>
  <ion-navbar>
    <ion-title>List Of Foodstuffs</ion-title>
    <ion-buttons end class="margin">
      <button ion-button icon-only (tap)="lists()">
        <ion-icon name="add" class="right"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end class="margin">
      <button ion-button icon-only (tap)="cart()">
        <!-- <img src="assets/imgs/cart.png" height="30px" width="30px" class="right" /> -->
        <ion-icon name="cart" class="right"></ion-icon>
        <ion-badge>{{count}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    (ionInput)="filterJson($event)"
    placeholder="Search..."
  ></ion-searchbar>

  <ion-list no-lines *ngIf="body">
    <ion-list class="accordion-list" overflow-scroll="true">
      <ion-list-header
        *ngFor="let item of body; let i = index"
        no-lines
        no-padding
      >
        <button
          ion-item
          (click)="toggleSection(i)"
          detail-none
          [ngClass]="{'section-active': item.open, 'section': !item.open}"
        >
          <ion-icon item-right name="arrow-down" *ngIf="!item.open"></ion-icon>
          <ion-icon item-right name="arrow-up" *ngIf="item.open"></ion-icon>
          {{ item.food_menu }}
        </button>

        <ion-list *ngIf="item.open" no-lines>
          <ion-list-header
            *ngFor="let food_item of item.foods; let j = index"
            no-padding
          >
            <ion-row class="container">
              <ion-col col-2>
                <ion-avatar item-start>
                  <img [src]="food_item.food_logo_url" />
                </ion-avatar>
              </ion-col>

              <ion-col col-8>
                <h2 text-wrap>
                  <b style="color: black" text-wrap>{{food_item.food_name}}</b>
                </h2>

                <p text-wrap>
                  Minimum Price: GHC{{ food_item.price | number:'1.2-2'}}
                </p>

                <form [formGroup]="amountForm" *ngIf="food_item.quantity == 0">
                  <ion-item no-lines class="movemove">
                    <!-- <ion-input type="number" class="movemove" placeholder="Enter amount here..." name="price" [(ngModel)]="catCode[j]"></ion-input><br> -->

                    <ion-input
                      type="number"
                      class="movemove"
                      placeholder="Enter amount here..."
                      name="price"
                      formControlName="price"
                      [class.invalid]="!amountForm.controls.price.valid && (amountForm.controls.price.dirty || submitAttempt)"
                    ></ion-input>
                  </ion-item>
                </form>

                <ion-list *ngIf="food_item.quantity > 0">
                  <b text-wrap style="color: #781318"
                    >Determine quantities you want
                  </b>
                  <ion-row>
                    <ion-col col-4 tappable>
                      <ion-icon
                        ios="ios-remove-circle"
                        md="md-remove-circle"
                        color="danger"
                        tappable
                        (tap)="quantityMinus(food_item)"
                      ></ion-icon>
                    </ion-col>

                    <ion-col col-4>
                      <h4 class="margin">{{ food_item.quantity}}</h4>
                    </ion-col>
                    <ion-col col-4 tappable>
                      <ion-icon
                        ios="ios-add-circle"
                        md="md-add-circle"
                        color="secondary"
                        tappable
                        (tap)="quantityAdd(food_item)"
                      ></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-list>
              </ion-col>

              <ion-col col-2>
                <ion-icon
                  name="add-circle"
                  tappable
                  class="move-center"
                  (tap)="addTocart(food_item)"
                ></ion-icon>
                <!-- <ion-icon name="add-circle" tappable class="move-center" (tap)="details(food_item)"></ion-icon> -->
              </ion-col>
            </ion-row>
          </ion-list-header>
        </ion-list>
      </ion-list-header>
    </ion-list>
  </ion-list>

  <ion-list *ngIf="!body">
    <ion-list-header
      *ngFor="let fake of fakeUsers; let i = index"
      no-lines
      no-padding
      class="fakeItem"
    >
      <ion-list no-lines>
        <ion-row class="container">
          <ion-col col-2>
            <ion-avatar item-start>
              <img [src]="" />
            </ion-avatar>
          </ion-col>

          <ion-col col-7>
            <h2>
              <b></b>
            </h2>
            <p></p>
          </ion-col>

          <ion-col col-3>
            <h2></h2>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-list-header>
  </ion-list>
</ion-content>

<ion-footer *ngIf="count > 0">
  <p>
    <button
      ion-button
      color="secondary"
      class="button button-dark customBtn"
      (tap)="cart()"
    >
      View Cart ({{count}})
    </button>
  </p>
</ion-footer>
