<ion-header style="background-color: #781318">
  <!-- <ion-navbar> -->
  <!-- <ion-title>
    <button
      class="back-button disable-hover bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button"
      ion-button="bar-button"
    >
      <span class="button-inner"
        ><ion-icon
          class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back"
          role="img"
          aria-label="arrow back"
        ></ion-icon
        ><span class="back-button-text back-button-text-md"></span
      ></span>
      <div class="button-effect"></div>
    </button>
    <p>Cart</p>
  </ion-title> -->

  <ion-row style="display: flex">
    <ion-col col-4>
      <button
        class="back-button disable-hover bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button"
        ion-button="bar-button"
        (click)="backtoMenu()"
      >
        <span class="button-inner"
          ><ion-icon
            class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back"
            role="img"
            aria-label="arrow back"
          ></ion-icon
          ><span class="back-button-text back-button-text-md"></span
        ></span>
        <div class="button-effect"></div></button
    ></ion-col>
    <ion-col col-8> <h4 style="color: white">Cart</h4></ion-col>
  </ion-row>
  <!-- </ion-navbar> -->
</ion-header>

<ion-content class="background">
  <ion-item *ngIf="cartList?.length == 0">
    <p class="center">
      <b>No Cart</b>
    </p>
  </ion-item>
  <br />

  <div *ngIf="cartList?.length > 0">
    <ion-item *ngFor="let item of cartList" overflow-scroll="true">
      <ion-row>
        <ion-col col-2>
          <img *ngIf="item" [src]="item.food_logo_url" id="logo_size" />
        </ion-col>

        <ion-col col-6 text-wrap>
          <h4>{{ item.food_name}}</h4>
          <p *ngIf="item.quantity > 0">
            <!-- GHC {{ item.price * item.quantity}}  -->
            GHC {{ item.price}}
          </p>

          <p *ngIf="item.quantity == 0">GHC {{ item.price}}</p>
        </ion-col>

        <ion-row *ngIf="item.quantity > 0">
          <ion-col col-9>
            <h4>
              <p>
                <b> Qty: {{ item.quantity}}</b>
              </p>
            </h4>
          </ion-col>
        </ion-row>

        <ion-col col-1>
          <ion-icon
            ios="ios-close-circle"
            md="md-close-circle"
            color="red"
            (tap)="removeItemFromCart(item)"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </div>

  <ion-footer>
    <div *ngIf="cartList?.length > 0">
      <ion-row class="ash">
        <ion-col col-4>
          <p style="color: #187034">CART ITEM: {{cartList.length}}</p>
        </ion-col>

        <ion-col col-8>
          <p style="color: #187034">CART TOTAL: GHC {{getTotal()}}</p>
        </ion-col>
      </ion-row>
    </div>

    <p>
      <button
        ion-button
        *ngIf="cartList.length"
        color="secondary"
        class="button button-dark customBtn"
        (tap)="checkout(item)"
      >
        Proceed to checkout
      </button>
    </p>
  </ion-footer>
</ion-content>
